<h1 class="text-center mb-4">Edit Menu</h1>

<%= form_for @cash, url: player_game_cash_path(@player.id, @game.id, @cash.id) do |f| %>
 <div class="mb-1">
  <%= f.label :cash_out, class: "form-label" %><br>
  <%= f.number_field :cash_out, class:"form-control", required: true %><br>
  </div>
  <div class="mb-1">
  <%= f.label :deposit, class: "form-label" %><br>
  <%= f.number_field :deposit, class:"form-control", required: true %><br>
  </div>
  <div class="mb-1">
  <%= f.label :promo, class: "form-label" %><br>
  <%= f.number_field :promo, class:"form-control", required: true %><br>
  </div>
  <div class="mb-1">
  <%= f.label :freeplay, class: "form-label" %><br>
  <%= f.number_field :freeplay, class:"form-control", required: true %><br>
  </div>
  <%= f.submit "Update Cash", class: "btn btn-primary" %>
<% end %>
